* {
    margin: 0;
    padding: 0;

}

.countries-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

.country {
    border: 2px solid rgb(234, 234, 10);
    border-radius: 10px;
    padding: 20px;
    background-color: azure;
}

.country img {
    width: 200px;

}